@model OrdemServicoLaboratorio;
@{
    ViewData["Title"] = "Pagina Inicial";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Inicio</title>
    <style>

        body {
            font-family: Arial;
        }

        .custom-container {
            text-align: center;
        }

        .tables {
            width: 98%;
        }

        .fundo-tabela {
            background: #800000;
            color: white;
        }

        .atencao {
            text-align: center;
            height: 50px;
            margin: 0 auto;
            width: 50%; /* Valor da Largura */
            margin-bottom: 10px;
        }

        .rounded-table {
            border-radius: 10px;
            overflow: hidden;
        }
    </style>

</head>
<body class="body">
    <div class="custom-container">
        <form class="form-inline d-flex justify-content-center" asp-controller="Home" asp-action="BuscarOrcamento" method="post">
            <div class="container mt-4 text-center">
                <h1 class="display-4 fw-bold">COLETA TEOR DE CINZAS</h1>
                <div class="input-group mt-3">
                    <input type="text" class="form-control col-md-12" placeholder="Digite a Ordem De Serviço" aria-label="Recipient's username" aria-describedby="basic-addon2" name="os">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Pesquisar</button>
                    </div>
                </div>
            </div>
        </form>

        @if (Model != null)
        {
            <div class="custom-container-wrapper mt-4">
                <div class="form-row d-flex justify-content-center">
                    @* verificando cada os dentro do orçamento de laminas  para mostrar a atenção ao usuario*@

                    <table class="tables table-bordered table-striped table-sm rounded-table">
                        <tr>
                            <td class="fundo-tabela" colspan="5">DADOS DA COLETA</td>
                        </tr>
                        <tr class="fundo-tabela">
                            <td>OS</td>
                            <td>ORCAMENTO</td>
                            <td>LABORATORIO</td>
                            <td>ENSAIO</td>
                            <td>INFORMAÇÃO</td>
                        </tr>
                        <tr>
                            <td>@Model.OS</td>
                            <td>@Model.orcamento</td>
                            <td>@Model.Laboratorio</td>
                            <td><a role="button" target="_blank" class="btn btn-primary" asp-controller="Coleta" asp-action="Coleta" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento">Coleta</a></td>
                            <td><a role="button" target="_blank" class="btn btn-success" asp-controller="Coleta" asp-action="EditarInicio" asp-route-os="@ViewBag.os" asp-route-orcamento="@ViewBag.orcamento">Entrar</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        }
    </div>
</body>
</html>

@if (TempData.ContainsKey("Mensagem"))
{
    <script>
        alert('@Html.Raw(TempData["Mensagem"])');
    </script>
}